[submodule "java7"]
	path = java7
	url = https://github.com/grossws/docker-comp-java7.git
[submodule "tomcat8"]
	path = tomcat8
	url = https://github.com/grossws/docker-comp-tomcat8.git
[submodule "solr4"]
	path = solr4
	url = https://github.com/grossws/docker-comp-solr4.git
