[submodule "java7"]
	path = java7
	url = https://github.com/grossws/docker-comp-java7.git
[submodule "tomcat8"]
	path = tomcat8
	url = https://github.com/grossws/docker-comp-tomcat8.git
[submodule "solr4"]
	path = solr4
	url = https://github.com/grossws/docker-comp-solr4.git
[submodule "solr4-base"]
	path = solr4-base
	url = gl:docker/solr4-base.git
[submodule "solr4-public"]
	path = solr4-public
	url = gl:docker/solr4-public.git
[submodule "centos6"]
	path = centos6
	url = https://github.com/grossws/docker-comp-centos6.git
[submodule "public-loader"]
	path = public-loader
	url = gl:docker/public-loader.git
[submodule "apokrif-ui"]
	path = apokrif-ui
	url = gl:docker/apokrif-ui.git
